extends layout 
block content 
    .about-page
        img.about-logo(src="/images/logo.png")
        h1.company-name The Chatterbox
        .why 
            h2 Why The Chatterbox?
            p The chatterbox is a great way to connect with people. You can say about anything, and you can meet about anyone! In The Chatterbox, we aim to connect us humans, because as technology progresses, so does alone time. We make it easy here at The Chatterbox for everyone to talk! 
        .story
            h2 Our story 
            p We started when Shedeur B, our founder, just learned how to do back-end code. He didn't know what to make, so he just made a Twitter lite. This took weeks to make so please follow my 
                a(href="https://github.com/shedeurcoder") github.
        .source 
            h2 Source code 
            p Our source code is available to see on GitHub for free. Just go to 
                a(href="https://github.com/ShedeurCoder/thechatterbox") our GitHub Repo
                span , and you can view our source code!
        .about
            h2 About The Chatterbox 
            p The Chatterbox Social Media Organization was founded June 13, 2022. The first release was on July 4, 2022. The Chatterbox is owned and managed by Chibs Incorporated with Shedeur Bhatkal as the CEO of The Chatterbox. Currently, there is 1 developer for The Chatterbox and 4 admins on The Chatterbox.
        a(href="/tos") Terms of Service