extends layout 
include mixins/_post 
block content 
    h1.text-center Saved posts 
    if saves.length == 0 
        h2.text-center No saved posts yet ¯\_(ツ)_/¯
    -saves = saves.reverse()
    .profile-posts
        each post in saves
            .post-wrapper-wrapper
                +post(post)