extends layout
block content 
    h1 Settings
    button.btn.btn-info(onclick='toggleComicSans()') Toggle Comic Sans
    span &nbsp;&nbsp;
    button.btn.btn-info(onclick='toggleOldLogo()') Toggle old logo
    span &nbsp;&nbsp;
    a.btn.btn-info(href="/settings/name") Change name
    span &nbsp;&nbsp;
    a.btn.btn-info(href="/settings/email") Change email
    span &nbsp;&nbsp;
    a.btn.btn-info(href="/help") Support
    hr
    p.bg-danger.p-1 Danger zone 
    a.btn.btn-info(href="/settings/password") Change password
    span &nbsp;&nbsp;
    a.btn.btn-info(href="/settings/username") Change username
    span &nbsp;&nbsp;
    a.btn.btn-info(href="/settings/delete") Delete account