extends layout 
block content 
    h1 Terms of Service for The Chatterbox
    b BY JOINING THE CHATTERBOX, YOU HAVE READ, AGREED TO, AND WILL FOLLOW THE FOLLOWING.
    br
    b Last updated: April 11, 2023
    .code-of-conduct 
        h2 Code of Conduct 
        p The Code of Conduct for The Chatterbox is as follows
        ul 
            li No cyberbullying 
            li No promotion/selling/encouragement of illegal activities/goods
            li Be civil
            li No leaking of personal information
        h3 No bullying 
        p Mild bullying, like teasing is okay. However, severe bullying, as in danger to one's mental health, will get one immediately removed from the platform.
        h3 No promotion/selling/encouragement of illegal activities/goods
        p Any promotion, selling, encouragement, or anything that can cause a user to do or buy something illegal will be removed immediately upon finding.
        h3 Be Civil 
        p DO NOT TURN THIS THING INTO TWITTER. Just because we may be competing with Twitter, does not mean that this place accepts toxic, uncivil, and bad behavior.
        h3 No leaking of personal information 
        p Any leaking of personal information of you or any user is strictly not allowed. You will be removed off the platform if caught.
    br
    .terms-of-service 
        h2 Other terms of service 
        p Other terms of service you must follow
        ul 
            li No impersonation of other users to trick/deceive
            li All users must be at least 13 years of age
            li Admins have the right to remove all content they may deem hurtful or against the terms of service.
        h3 No impersonation of other users to trick/deceive
        p Impersonation to trick/deceive users is strictly not allowed. If you are caught doing this, your account will be deleted 
        h3 All users must be at least 13 years of age
        p To comply with the Children's Online Privacy Protection Act (COPPA), all users must be at least 13 years of age.
        h3 Admins have the right to remove all content they may deem hurtful or against the terms of service.
        p All admins may remove any and all content they need to remove. Admins are trusted to do their job properly.
    br
    .copyright 
        h2 Copyright 
        p The copyright rules of The Chatterbox 
        h3 The Chatterbox is an open-source project protected by an MIT License. The full copyright license is shown below.
        code.text-light MIT License

            br 
            span Copyright (c) 2022-2023 The Chatterbox
            br 
            br 
            span Permission is hereby granted, free of charge, to any person obtaining a copy
            br 
            span of this software and associated documentation files (the "Software"), to deal
            br 
            span in the Software without restriction, including without limitation the rights
            br 
            span to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            br 
            span copies of the Software, and to permit persons to whom the Software is
            br 
            span furnished to do so, subject to the following conditions:
            br 
            br 
            span The above copyright notice and this permission notice shall be included in all
            br 
            span copies or substantial portions of the Software.
            br
            br 
            span THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            br 
            span IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            br 
            span FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            br 
            span AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            br 
            span LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            br 
            span OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            br 
            span SOFTWARE.
    br
    .data
        h2 Data protection 
        b DATA THE CHATTERBOX COLLECTS ABOUT YOU: 
        ul 
            li User information (encrypted password, email, username, etc.)
            li People you follow 
            li That's all.
        h3 Why we don't collect data 
        p We don't collect any data, besides important ones from you, due to the fact that we both don't know how, and I, Shedeur, think it's terrible. Instead, we feed you r a n d o m posts that we find.
        h3 Your email and what we do with it 
        p Your email is not used by us EXCEPT for contacting. Example, if an Admin ticket is too long, we can continue it on email 
    br
    b ANY AND ALL INCIDENTS WHERE THE TERMS OF SERVICE ABOVE ARE BROKEN MAY RESULT IN YOUR CONTENT ON THE PLATFORM BEING PERMANENTLY DELETED.
